[Unit]
Description=Main VisionModule Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/quickaxe/Desktop/RADCM/ComputerVisionModule
ExecStart=sudo /home/quickaxe/Desktop/RADCM/ComputerVisionModule/venv/bin/python /home/quickaxe/Desktop/RADCM/ComputerVisionModule/main.py 

[Install]
WantedBy=multi-user.target
