venv/
myenv/
Server/Datasets
Test/
runs*/
Server/TilingServer/*.osm.pbf
Server/TilingServer/*.poly
Server/SensorModel/model_visualization*

# Django #
**/.cxx
**/.env
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media


# platformio stuff
.pio
.vscode
# stupid workaround 
/Mpu6050Module/MPU6050Module/.gitignore